<form class="hr" [formGroup]="form" (ngSubmit)="submit()">
  <div class="field">
    <p class="title">Select Vacation Type</p>
    <div class="input-wrapper">
      <mat-form-field class="input">
        <label class="label">Type</label>
        <mat-select [(ngModel)]="selectedType" formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type.id">{{
            type.display
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="field">
    <p class="title">Create Request Details</p>
    <div class="input-wrapper">
      <label>Start date</label>
      <input
      formControlName="startDate"
      matInput
          [min]="currentDate"
          [matDatepicker]="picker"
          formControlName="startDate"
          [disabled]="true"
          matInput
          />
          <mat-datepicker-toggle
          matSuffix
          [for]="picker"
          [disabled]="false"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker [disabled]="false"></mat-datepicker>
          <label>End date</label>
        <input
        matInput
        [min]="currentDate"
        [matDatepicker]="pickeer"
        [disabled]="true"
      formControlName="endDate"
        matInput
        />
        <mat-datepicker-toggle
        matSuffix
        [for]="pickeer"
        [disabled]="false"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickeer [disabled]="false"></mat-datepicker>
        <label >Days</label>
        <input formControlName="days" type="text">
        <button type="submit">Submit</button>
    </div>
  </div>
  <div class="field">
    <p class="title">Vacation Balance</p>
      <div class="input-wrapper">
        <table [(ngModel)]="tableData">
          <tr>
            <th>Type</th>
            <th>Balance</th>
          </tr>
          <tr>
            <td>Annual</td>
            <td>Sick</td>
          </tr>
          <tr>
            <td>{{tableData.annual}}</td>
            <td>{{tableData.sick}}</td>
          </tr>
        </table>
      </div> 
  </div>
</form>